<div align="center" class="header">
<div id="header"> <h1>QUIZ</h1> </div>
<br>
<br>
<h3>Results</h3>
<br>
<div id="score" class="resultbox">
	<br>
	Congratulations!
   	<br>
	<h2>Your Score is
	<br> 
	{{question.score}}</h2>
	<br>
</div>
<br>
	{{question.score}}/10
<br>
<br>
<br>
<button {{action "playAgain" on="click" }}>Play Again</Button>
<br>
<br>
<button {{action "newGame" on="click" }}>New Game</button>
</div>
